.padding-0{ 
    padding-right:0; 
    padding-left:0; 
} 
.gris{
    background: #b4030373;
    
}
.top-nav-collapse{
    background: rgba(217, 221, 3, 0.527);
    
}
.linea{
	background-color: rgb(255, 255, 255);
  }
   



